<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ClinicDB"
			 connectionString="Data Source=MYPC;Initial Catalog=CMS;Integrated Security=True;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>