<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BackendBaseUrl" value="https://ueh-tcc-backend.onrender.com" />
    <add key="AllowDirectPayOSFallback" value="false" />
    <add key="PayOSClientId" value="d43a8821-087f-47d3-bc3e-62ee0a1252d1" />
    <add key="PayOSApiKey" value="04230812-df82-436b-9320-6e36376021ce" />
    <add key="PayOSChecksumKey" value="69658edaf9be4c75dd4799bb3518902235176ba78807bbe2bbc35301e1748fd0" />
    <add key="PayOSReturnUrl" value="https://ueh-tcc-backend.onrender.com/payment/success" />
    <add key="PayOSCancelUrl" value="https://ueh-tcc-backend.onrender.com/payment/cancel" />
  </appSettings>
  <connectionStrings>
    <add name="DbConnection" connectionString="Server=localhost;Database=HealthCareDB;Trusted_Connection=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
    <add name="ClinicDB" connectionString="Server=localhost;Database=HealthCareDB;Trusted_Connection=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
